.card {
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 1fr auto 1fr;
    background-color: rgb(255, 255, 255);
}


.card span {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.topNumber {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.midNumber {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
    font-size: 3em !important;
}

.botNumber {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: 4;
    grid-row-end: 4;
}