.hand {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.pos1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row : 1 / span 1;
}

.pos2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row : 1 / span 1;
}

.pos3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row : 1 / span 1;
}

.pos4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row : 1 / span 1;
}

.pos5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row : 1 / span 1;
}

.pos6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row : 1 / span 1;
}