.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: white;
  padding: 15px;
}

.navBar a {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.navBar a:hover {
  text-decoration: none;
}

